 .u-section-1 {
  background-image: url("images/camille-minouflet-d7M5Xramf8g-unsplash.jpg");
  min-height: 794px;
  background-position: 50% 50%;
}

.u-section-1 .u-group-1 {
  min-height: 794px;
  margin-top: -2px;
  margin-bottom: 2px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 560px 2px 0 763px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 655px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 154px;
    width: 415px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 502px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 377px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 237px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 95px;
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 785px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  text-transform: uppercase;
  width: 895px;
  margin: 20px auto 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 64px auto 0 0;
}

.u-section-2 .u-slider-1 {
  min-height: 380px;
  width: 440px;
  margin: -380px 52px 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 352px;
  height: 300px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: -287px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 12px 50px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 16px 50px 0;
}

.u-section-2 .u-text-5 {
  margin: 0 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 38px;
}

.u-section-2 .u-shape-2 {
  height: 292px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: -292px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 69px 12px 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 31px 12px 0;
}

.u-section-2 .u-text-9 {
  margin: 0 12px;
}

.u-section-2 .u-carousel-item-3 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 44px;
}

.u-section-2 .u-shape-3 {
  height: 292px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  margin: -292px auto 0 140px;
}

.u-section-2 .u-text-11 {
  margin: 26px 6px 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: 20px 6px 0;
}

.u-section-2 .u-text-13 {
  margin: 3px 6px 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: 0;
  position: absolute;
  background-image: none;
  top: 140px;
  right: auto;
  padding: 8px;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  background-image: none;
  left: auto;
  top: 140px;
  right: 0;
  position: absolute;
  padding: 8px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 71px auto 60px;
  padding: 20px 30px 21px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 725px;
  }

  .u-section-2 .u-slider-1 {
    height: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -21px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -220px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -267px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-2 .u-slider-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -287px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: -292px;
    margin-left: 86px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 790px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  width: 188px;
  margin: 7px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 321px;
  height: 460px;
  background-image: none;
  margin: 34px 0 0 auto;
}

.u-section-3 .u-image-1 {
  width: 309px;
  height: 228px;
  margin: -479px 12px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 6px 105px 0 939px;
}

.u-section-3 .u-text-3 {
  font-weight: normal;
  margin: 26px 12px 0 822px;
}

.u-section-3 .u-shape-2 {
  width: 321px;
  height: 460px;
  background-image: none;
  margin: -367px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 306px;
  height: 228px;
  margin: -479px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 6px 904px 0 70px;
}

.u-section-3 .u-text-5 {
  font-weight: normal;
  margin: 28px 823px 0 11px;
}

.u-section-3 .u-shape-3 {
  width: 321px;
  height: 460px;
  background-image: none;
  margin: -305px auto 0;
}

.u-section-3 .u-image-3 {
  width: 306px;
  height: 228px;
  margin: -479px auto 0 410px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  width: 197px;
  margin: 6px auto 0;
}

.u-section-3 .u-text-7 {
  width: 306px;
  font-weight: normal;
  margin: 11px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 105px auto 60px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 376px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 481px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 5px;
    margin-left: 839px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 634px;
  }

  .u-section-3 .u-shape-2 {
    width: 265px;
    margin-top: -389px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 773px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 634px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-3 {
    width: 335px;
    margin-top: -869px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 65px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 118px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 288px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -479px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 624px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 414px;
  }

  .u-section-3 .u-shape-2 {
    width: 321px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 553px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 414px;
  }

  .u-section-3 .u-shape-3 {
    width: 321px;
    margin-top: 20px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -479px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 216px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 444px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 234px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 373px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 234px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 234px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 136px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 244px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 34px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 173px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 34px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 34px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 808px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  width: 307px;
  margin: 6px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 321px;
  height: 483px;
  background-image: none;
  margin: 50px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 306px;
  height: 228px;
  margin: -502px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 6px 911px 0 77px;
}

.u-section-4 .u-text-3 {
  font-weight: normal;
  margin: 15px 827px 0 8px;
}

.u-section-4 .u-shape-2 {
  width: 321px;
  height: 501px;
  background-image: none;
  margin: -419px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 309px;
  height: 228px;
  margin: -520px auto 0 819px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 6px 60px 0 904px;
}

.u-section-4 .u-text-5 {
  font-weight: normal;
  margin: 15px 11px 0 823px;
}

.u-section-4 .u-shape-3 {
  width: 321px;
  height: 483px;
  background-image: none;
  margin: -398px auto 0;
}

.u-section-4 .u-image-3 {
  width: 306px;
  height: 228px;
  margin: -500px auto 0 410px;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  width: 139px;
  margin: 4px auto 0;
}

.u-section-4 .u-text-7 {
  font-weight: normal;
  width: 306px;
  margin: 15px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 168px auto 60px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 788px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 634px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-left: 631px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 764px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 634px;
  }

  .u-section-4 .u-shape-3 {
    width: 335px;
    margin-top: -2px;
  }

  .u-section-4 .u-text-6 {
    width: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 304px;
    margin-left: 109px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 568px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 414px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 411px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 544px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 414px;
  }

  .u-section-4 .u-shape-3 {
    width: 321px;
    margin-top: 20px;
    margin-left: 102px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 312px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 359px;
    margin-left: 164px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 305px;
    margin-left: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 171px;
    margin-left: 62px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 388px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 234px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 231px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 364px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 234px;
  }

  .u-section-4 .u-shape-3 {
    margin-left: 55px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 179px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 226px;
    margin-left: 117px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 172px;
    margin-left: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 21px;
    margin-left: 12px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 188px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 34px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 31px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 164px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 34px;
  }

  .u-section-4 .u-shape-3 {
    margin-left: 5px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 29px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 76px;
    margin-left: 67px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 22px;
    margin-left: 12px;
  }
}